body {
    background: rgb(230, 230, 230) !important;
}

.card {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 10px;
    text-align: center;
    border: 1px solid black !important;
    transition: all .2s ease-in-out; 

}

.row {
    margin-bottom: 50px !important;
    padding: 0;
}

.grow { 
	transition: all .2s ease-in-out; 
	}
	
	.grow:hover { 
	transform: scale(1.04); 
    cursor: pointer;
}


.card:hover {
    box-shadow: rgba(197, 68, 8, 0.4) 0px 5px, rgba(197, 68, 8, 0.3) 0px 10px, rgba(197, 68, 8, 0.2) 0px 15px, rgba(197, 68, 8, 0.1) 0px 20px, rgba(197, 68, 8, 0.05) 0px 25px;
}

.bg-light {
    color: black !important;
}